body{
  line-height:20px; font-size:14px;
  margin:0;
  height: 100vh;
}
widgetbot{
      position: relative;
  z-index: 2;
}
h1{
      position: relative;
  z-index: 2;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
  z-index: 1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
  z-index: 1;
}




.background li:nth-child(0) {
    left: 53%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 5%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 74%;
    width: 135px;
    height: 135px;
    bottom: -135px;
    animation-delay: 5s;
}
.background li:nth-child(3) {
    left: 25%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 3s;
}
.background li:nth-child(4) {
    left: 77%;
    width: 116px;
    height: 116px;
    bottom: -116px;
    animation-delay: 16s;
}
.background li:nth-child(5) {
    left: 23%;
    width: 178px;
    height: 178px;
    bottom: -178px;
    animation-delay: 1s;
}
.background li:nth-child(6) {
    left: 39%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 9s;
}
.background li:nth-child(7) {
    left: 32%;
    width: 192px;
    height: 192px;
    bottom: -192px;
    animation-delay: 14s;
}
.background li:nth-child(8) {
    left: 10%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 35s;
}
.background li:nth-child(9) {
    left: 19%;
    width: 171px;
    height: 171px;
    bottom: -171px;
    animation-delay: 9s;
}
